.Hero{
  margin-top: -75px;
  z-index: 1;
  position: relative;
}
.Hero__image{
  img{ 
    width: 100%; 
    vertical-align: middle;
  }
}

.Hero__main{
  @include miller(3.6rem);
  margin-bottom: 10px;
  line-height: 1.25;
  text-transform: uppercase;
}
