.Info{
  @include minQuery($s){
    .row--reversed{
      flex-flow: row-reverse;
    }
  }
}
.Info__heading{
  margin-bottom: 25px;
  @include minQuery($s){
    font-size: 3.6rem;
  }
}
.Info__body{
  margin-bottom: 25px;
}
.Info__link{
  font-size: 1.8rem;
  @include minQuery($s){
    font-size: 1.2rem;
  }
}