<div class="LoginRegister LoginRegister--login">
  <div class="container s center">
    <h1 class="LoginRegister__heading">{{ 'account.login.title' | t }}</h1>
    {% comment %}
      Display the recovery success message if the recovery form has just been submitted.
    {% endcomment %}
    {% form 'recover_customer_password' %}
      {{ form.errors | default_errors }}
      {% if form.posted_successfully? %}
        <p class="note">{{ 'account.recover.success' | t }}</p>
      {% endif %}
    {% endform %}

    {% include 'form-login' %}
  </div>
</div>

<div class="LoginRegister LoginRegister--register">
  <div class="container s center">
    <h1 class="LoginRegister__heading">{{ 'account.register.title' | t }}</h1>
    {% include 'form-register' %}
  </div>
</div>