<div class="popup overlay QVPopup js-qvPopup" id="QVPopup">
  <div class="popup-inner">
    <div class="popup-content">
      <button class="QVPopup__close js-qvPopupHide" type="button"><i class="material-icons">close</i></button>
      <div class="container m">
        <div class="QView">
          <div class="QView__product"></div>
          <div class="QView__details hidden">
            <div class="row">
              <div class="column l12 m12 s12 flex">
                <div class="QView__details__left">
                  <h3 class="h2 QView__details__heading">The Details</h3>
                  <a class="QView__details__link" href="">See More</a>
                </div>
                <div class="QView__details__right"></div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>