<div class="SocialBar margin-bottom-7x s-margin-bottom-5x">
  <div class="container l">
    <div class="row">
      <div class="column l12 m12 s12">
        {% if show_social %}
          {% include 'social-links' %}
        {% endif %}
      </div>
    </div>
  </div>
</div>