.ProductReviews{
  width: 1050px;
  max-width: 100%;
  margin-left: auto;
  margin-right: auto;
  @include maxQuery($s){
    text-align: center;
  }
}
.ProductReviews__heading{
  @include lineHeading-left(40%);
  display: inline-block;
  @include maxQuery($s){
    font-size: 2rem;
  }
}
.ProductReviews{
  .yotpo .yotpo-bottomline .yotpo-icon-star,
  .yotpo.yotpo-main-widget .yotpo-bottomline.yotpo-bottomline-2-boxes .yotpo-bottomline-box-2 .yotpo-star-distribution .yotpo-star-distribution-content .yotpo-distibutions-stars .review-stars .yotpo-icon-star,
  .yotpo .yotpo-review .yotpo-header .yotpo-review-stars .yotpo-icon,
  .yotpo.yotpo-main-widget .yotpo-bottomline.yotpo-bottomline-2-boxes .yotpo-bottomline-box-2 .yotpo-star-distribution .yotpo-star-distribution-content .yotpo-distibutions-stars .review-stars .yotpo-icon-empty-star,
  .yotpo.yotpo-main-widget .yotpo-icon-btn .yotpo-icon-button-text,
  .yotpo .transparent-color-btn span.yotpo-icon,
  .yotpo .yotpo-review .yotpo-footer .yotpo-helpful .yotpo-sum,
  .yotpo .yotpo-pager .yotpo-page-element.yotpo-icon-left-arrow,
  .yotpo .write-review .yotpo-header .yotpo-icon,
  .yotpo .write-review .yotpo-header .yotpo-icon,
  .yotpo .yotpo-pager .yotpo-page-element.yotpo-active,
  .yotpo .yotpo-first-review .yotpo-first-review-stars .yotpo-icon-star{
    color: $primary-accent1;
  }
  .yotpo .yotpo-default-button,
  .yotpo input[type="button"].primary-color-btn,
  .yotpo input[type="button"].yotpo-default-button{
    background: $primary-accent1;
    &:hover{
      background: $primary-accent1;
    }
  }
  .yotpo input[type="button"].primary-color-btn.yotpo-disabled:hover{
    background: $primary-accent1 !important;
  }
  .yotpo input[type="button"].primary-color-btn.yotpo-disabled{
    background: $gray-light;
  }
  .yotpo a{
    color: $primary-accent1 !important;
  }
  .yotpo.yotpo-main-widget .yotpo-bottomline.yotpo-bottomline-2-boxes .yotpo-default-button.write-review-button{
    border: 1px solid $primary-accent1;
    background: transparent;
  }

  .yotpo .yotpo-review .yotpo-main .content-title,
  .yotpo .yotpo-review .yotpo-main .content-review,
  .yotpo.yotpo-main-widget .yotpo-bottomline.yotpo-bottomline-2-boxes .yotpo-bottomline-box-2 .yotpo-star-distribution .yotpo-star-distribution-content .yotpo-distibutions-sum-reviews .yotpo-sum-reviews,
  .yotpo.yotpo-main-widget .yotpo-bottomline .based-on
  {
    font-family: 'NewsGothicMT';
    font-weight: 400;
    color: $primary-accent2;
  }
  .yotpo .yotpo-review .yotpo-header .yotpo-header-element .y-label.yotpo-user-name,
  .yotpo .yotpo-review .yotpo-header .yotpo-header-element .y-label.yotpo-review-date{
    color: $gray-dark;
    font-weight: 400;
    font-size: 1.2rem;
  }
  @include maxQuery($s){
    .yotpo.yotpo-main-widget.yotpo-small .yotpo-bottomline.yotpo-bottomline-2-boxes{
      padding-top: 0;
    }
  }
  @include minQuery($s){
    span.yotpo-display-wrapper{
      margin-left: 0 !important;
    }
    .yotpo-reviews .yotpo-review{
      padding-left: 0;
    }
    .yotpo.yotpo-main-widget .yotpo-bottomline.yotpo-bottomline-2-boxes{
      padding-left: 0;
    }
    .yotpo.yotpo-main-widget .yotpo-bottomline .yotpo-stars{
      margin-left: 0 !important;
    }
    .yotpo.yotpo-main-widget .yotpo-bottomline .yotpo-sum-reviews{
      text-align: left;
    }
  }
}