.Header{
  padding-top: 40px;
  padding-bottom: 40px;
  position: absolute;
  left: 0;
  width: 100%;
  z-index: 20;
}
.Header__content{
  position: relative;
  z-index: 2;
}
.Header__logo{
  position: relative;
}
.Header__logo-image{
  vertical-align: middle;
}
.Header__logo-image--dark{
  position: absolute;
  left: 0;
  top: 50%;
  opacity: 0;
  @include prefix(transform, translateY(-50%));
}
.Header__column--user{
  @include flex();
  @include justify-content(flex-end);
}
.Header__column--user-link{
  margin-left: 10px;
  margin-right: 10px;
  @include flex-center();
  a{
    @include flex-center();
  }
}
.Header__search{
  svg path{
    stroke: white;
  }
}
.Header__search{
  position: relative;
  form{
    max-width: initial;
    position: absolute;
    width: 220px;
    right: 20px;
    top: 50%;
    @include prefix(transform, translateY(-50%));
  }
  input{
    height: 30px;;
  }
}
.Header__search__form{
  opacity: 0;
  z-index: -1;
  visibility: hidden;
  transition: opacity .3s;
  input{
    background: white;
    width: 100%;
  }
}
.Header__search__form.active{
  opacity: 1;
  z-index: 1;
  visibility: visible;
}
.Header__search__trigger{
  border: none;
  &:hover{
    color: $primary-accent1;
    background-color: transparent;
  }
}
.Header__cart{
  margin-right: 20px;
}
.Header__cart,
.Header__user{
  svg path{
    fill: white;
  }
}
.Header__user__popup-trigger{
  border: none;
  &:hover{
    background: transparent;
  }
}

.Header.active,
.Header--is-dark{
  background: $white;
  .Header__logo-image--light{
    opacity: 0;
  }
  .Header__logo-image--dark{
    opacity: 1;
  }
  .Nav__link{
    color: $primary-accent2;
  }
  .Header__search{
    svg path{
      stroke: $primary-accent2;
    }
  }
  .Header__cart,
  .Header__user{
    svg path{
      fill: $primary-accent2;
    }
  }
}
.Header__column-row{
  @include flex-center();
  flex-wrap: wrap;
}
@include maxQuery(850px){
  .Header__column-row{
    padding-top: 10px;
  }
  .Header__column--logo{
    order: 2;
    width: 50% !important;
  }
  .Header__column--nav{
    order: 1;
    width: 25% !important;
  }
  .Header__column--user{
    order: 3;
    width: 25% !important;
  }

  .Header__search,
  .Header__user,
  .Header__column--country{
    display: none;
  }

  .Header__logo{
    text-align: center;
  }
  .Header__logo-image--dark{
    @include prefix(transform, translate(-50%,-50%));
    left: 50%;
  }
}

.Header--is-dark{
  position: static;
}
