#SideCart{
  z-index: 999999;
}
#SideCart.visible .SideCart.popup-content{
  right: 0;
}
#SideCart .overlay{
  position: fixed;
  background: rgba(0,0,0,.25);
  z-index: 10;
}
.SideCart{
  width: 350px;
  max-width: 95% !important;
  box-shadow: -2px 4px 8px rgba(0,0,0,.25);
  @include maxQuery($s){
    width: 100vw;
    max-width: 100% !important;
  }
}
.SideCart.popup-content{
  position: fixed !important;
  right: -350px;
  top: 50% !important;
  @include prefix(transform, translateY(-50%));
  height: 100%;
  padding: 0;
  background: white;
  transition: right .5s;
  @include maxQuery($s){
    right: -100vw;
  }
}
.SideCart__form{
  width: 100%;
}

.SideCart__heading-row{
  border-bottom: 1px solid $gray;
  height: 45px;
  line-height: 45px;
  @include flex();
  @include align-items(center);
  @include justify-content(center);
  position: relative;
  @include maxQuery($s){
    height: 62px;
    line-height: 62px;
  }
}
.SideCart__heading{
  margin-bottom: 0;
  @include newsR(1.4rem);
}
.SideCart__heading-close{
  position: absolute;
  right: 10px;
  top: 50%;
  @include prefix(transform, translateY(-50%));
  @include flex();
  @include align-items(center);
}
.SideCart__products-row{
  height: 70vh;
  overflow-y: auto;
}
.SideCart__product{
  @include flex();
  flex-flow: row wrap;
  @include align-items(center);
  &:last-child{
    margin-bottom: 100px;
  }
}
.SideCart__column1{
  @include flex();
  @include align-items(flex-start);
  position: relative;
  width: 100%;
  padding-right: 30px;
}
.SideCart__remove{
  display: inline-block;
  position: absolute;
  right: 20px;
  top: 0;
  width: 40px;
  text-align: right;
  svg path{
    stroke: black;
  }
}
.SideCart__image{
  margin-right: 10px;
  text-align: center;
  width: 120px;
  img{
    margin-left: auto;
    margin-right: auto;
    max-height: 95px;
  }
}
.SideCart__title{
  display: block;
  text-decoration: none;
}
.SideCart__price{
  @include newsR(1.2rem);
  color: $primary-accent2;
}
.SideCart__quantity{
  width: 120px;
  margin-top: 10px;
  .Quantity__control{
    flex: 1;
    margin-bottom: 0 !important;
    text-align: left;
    max-width: 30px !important;
  }
  .Quantity__state{
    text-align: center;
    padding: 0;
    flex: 1;
    margin-bottom: 0 !important;
    max-width: 30px !important;
  }
}

.SideCart__summary-row{
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 2;
  border-top: 1px solid $gray;
  padding-top: 0;
  background: white;
  &:before{
    top: -50px;
    left: 0;
    content:'';
    display: inline-block;
    height: 50px;
    width: 100%;
    position: absolute;
    background: -moz-linear-gradient(top, rgba(255,255,255,0) 0%, rgba(255,255,255,1) 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(top, rgba(255,255,255,0) 0%,rgba(255,255,255,1) 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to bottom, rgba(255,255,255,0) 0%,rgba(255,255,255,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  }
}
.SideCart__subtotal{
  @include newsR(1.4rem);
  color: $primary-accent2;
  max-width: 100%;
  @include flex();
  @include justify-content(space-between);
  padding-left: 30px;
  padding-right: 30px;
  margin-bottom: 10px;
}
.SideCart__subtotal-label{
  text-transform: uppercase;
}
.SideCart__buttons{
  background: $gray-lighter;
  padding: 10px 30px;
  @include maxQuery($s){
    padding-top: 10px;
    padding-bottom: 10px;
  }
}
.SideCart__checkout{
  background-color: $primary-accent1;
  color: white;
  border-color: $primary-accent1;
  width: 280px;
}
.SideCart__continue{
  @include newsR(1.4rem);
  text-align: center;
  display: block;
  margin-top: 10px;
  width: 280px;
}

