.CasualTypes__articles{
  margin: 0 auto;
  margin-bottom: 90px;
}
.CasualArticleListing{
  width: 340px;
  padding: 10px;
  margin-left: auto;
  margin-right: auto;
  max-width: 100%;
  margin-bottom: 5px;
}
.CasualArticleListing__text{
  @include flex();
  @include align-items(flex-start);
  @include justify-content(space-between);
}
.CasualArticleListing__name{
  text-decoration: none;
  h2{
    line-height: 1.5;
    @include newsR(1.2rem);
  }
}
.CasualArticleListing__title{
  text-align: right;
  line-height: 1;
  a{
    line-height: 1.5;
    text-decoration: none;
    font-size: 1rem;
  }
}