html{
  font-size: 62.5%;
}
body{
  background: white;
  line-height: 2.4rem;
  color: $primary-accent2;
  @include newsR(1.2rem);
}
body.fixed{
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  overflow: hidden;
}

h1,.h1{
  font-size: 2.4rem;
  line-height: 3.6rem;
  font-family: 'MillerHeadline';
}
h2,.h2{
  font-size: 2rem;
  line-height: 3rem;
  font-family: 'MillerHeadline';
}
h3,.h3{
  font-size: 1.8rem;
  line-height: 2.7rem;
  font-family: 'MillerHeadline';
}
h4,.h4{
  font-size: 1.5rem;
  line-height: 2.3rem;
}
h5,.h5{
  font-size: 1.2rem;
  line-height: 1.8rem;
}
h6,.h6{
  font-size: 1rem;
  line-height: 1.7rem;
}

a,.a{
  text-decoration: underline;
  color: $primary-accent2;
  transition: color .3s;
  display: inline-block;
  &:hover{
    color: $gray;
    text-decoration: none;
  }
}
.Link--accent{
  color: $primary-accent1;
  text-transform: uppercase;
  font-weight: bold;
  &:hover{
    color: $primary-accent1;
    text-decoration: none;
  }
}
.Link--partial-accent{
  position: relative;
  text-decoration: none !important;
  font-family: 'MillerHeadline';
  color: $white;
  &:after{
    content:'';
    display: inline-block;
    position: absolute;
    left: 0;
    bottom: -15px;
    height: 2px;
    background-color: $primary-accent1;
    width: 50%;
    transition: width .3s;
  }
}
//Buttons
a.Btn{
  @include inline-flex-center();
  text-decoration: none;
}
.btn,
button,
.Btn{
  border: 2px solid $primary-accent1;
  color: $primary-accent1;
  background-color: transparent;
  text-transform: uppercase;
  transition: color .3s, background-color .3s;
  @include flex-center();
  &:hover{
    color: $white;
    background-color: $primary-accent1;
    cursor: pointer;
  }
}
.Btn--primary{
  border-color: $primary-accent1;
  color: $primary-accent1;
  background-color: $white;
  &:hover{
    color: $white;
    background-color: $primary-accent1;
  }
}
.Btn--secondary{
  border-color: $primary-accent2;
  color: $primary-accent2;
  background-color: $white;
  &:hover{
    color: $white;
    background-color: $primary-accent2;
  }
}
.Btn--tertiary{
  border-color: $white;
  color: $white;
  background-color: transparent;
  &:hover{
    color: $gray-dark;
    background-color: $white;
  }
}
.Btn--small{
  height: 35px;
  padding-left: 25px;
  padding-right: 25px;
}
.Btn--big{
  height: 45px;
  padding-left: 35px;
  padding-right: 35px;
}

.JumpTop{
  position: fixed;
  right: 30px;
  bottom: 80px;
  width: 80px;
  height: 80px;
  z-index: 20;
  opacity: 0;
  transition: opacity .3s;
  i{font-size: 44px;}
  background: white;
  @include maxQuery($s){
    width: 30px;
    height: 30px;
    i{font-size: 24px;}
  }
}
.JumpTop.active{
  opacity: 1;
}
//Form
form {
  max-width: 100%;
}

//Input
input[type="text"],
input[type="email"],
input[type="tel"],
input[type="search"],
input[type="url"],
input[type="password"],
select{
  height: 45px;
  border: 1px solid $gray;
  padding-left: 15px;
  &:invalid{
    border: 2px solid $error;
  }
  &:focus{
    border: 2px solid $primary-accent2;
  }
}


.InputWrap{
  position: relative;
  label{
    position: absolute;
    left: 15px;
    top: 50%;
    @include prefix(transform, translateY(-50%));
    transition: top .3s;
    color: $gray;
  }
  input,
  select{
    padding-top: 20px;
  }
}
.InputWrap.active label,
input:focus + label{
  top: 9px;
  color: $gray-dark;
  transform: none;
}

/* Slick */
.slick-dots{
  @include flex();
  .slick-active button{
    background-color: $primary-accent2;
    border-color: $primary-accent2;
  }
  button{
    height: 5px;
    width: 5px;
    border-radius: 5px;
    background-color: $gray;
    border-color: $gray;
    font-size: 0;
    margin-left: 2.5px;
    margin-right: 2.5px;
  }
}

hr{
  border-top-color: $gray-light;
  border-top-width: 1px;
}


input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    /* display: none; <- Crashes Chrome on hover */
    -webkit-appearance: none;
    margin: 0; /* <-- Apparently some margin are still there even though it's hidden */
}
input[type='number'] {
  -moz-appearance:textfield;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
}

.Quantity{
  @include flex();
}
.Quantity__control{
  @include newsR(1.8rem);
  background: transparent;
  border: none;
  color: $primary-accent2;
  padding: 0;
  &:hover{
    background: transparent;
    color: $primary-accent2;
  }
}
input[type="number"].Quantity__state,
.Quantity__state{
  @include newsR(1.2rem);
  border: none;
  background: none;
  max-width: 80px;
  text-align: center;
}

.noSelect {
  -webkit-user-select: none;  /* Chrome all / Safari all */
  -moz-user-select: none;     /* Firefox all */
  -ms-user-select: none;      /* IE 10+ */
}