.LoginRegister{
  min-height: 45vh;
  .container.s{
    width: 350px;
  }
  @include flex-center();  
  input{
    width: 100%;
    margin-bottom: 20px;
  }
  button{
    width: 100%;
  }
}
.LoginRegister--register{
  min-height: initial;
}
.LoginRegister--register.active{
  width: 540px;
}
.LoginRegister__register-message{
  font-size: 1.2rem;
  color: $primary-accent2;
  line-height: 22px;
  margin-bottom: 24px;
  min-height: 110px;
}
.LoginRegister__register-login-link a{
  color: $primary-accent1;
}
.LoginRegister--register .LoginRegister__links{
  margin-top: 0;
}
.LoginRegister__heading{
  font-size: 3.6rem;
  text-align: center;
  &:after{
    content:'';
    display: block;
    width: 80%;
    height: 2px;
    background-color: $gray;
    margin-top: 30px;
    margin-bottom: 30px;
    margin-left: auto;
    margin-right: auto;
  }
}
.LoginRegister__links{
  @include flex-center();
  margin-top: 20px;
  margin-bottom: 40px;
  color: $primary-accent1;
  a{
    display: inline-block;
    margin-left: 5px;
    margin-right: 5px;
    color: $primary-accent1;
    text-decoration: none;
    &:hover{
      text-decoration: underline;
    }
  }
}
.LoginRegister__submit{
  background-color: $primary-accent1;
  color: $white;
  margin-left: auto;
  margin-right: auto;
  &:hover{
    background-color: $white;
    color: $primary-accent1;
  }
}

.LoginRegisterPopup{
  .container.s{
    width: 290px;
  }
  input,button{
    width: 100%;
  }
  .LoginRegisterPopup__close{
    position: absolute;
    right: 10px;
    top: 10px;
    display: inline-block;
    border: none;
    width: initial;
    i{
      color: $primary-accent2;
    }
    &:hover{
      background: transparent;
      color: $primary-accent2;
    }
  }
  .popup-content{
    padding-top: 60px;
    padding-bottom: 60px;
  }
  .LoginRegister__links{
    margin-bottom: 0;
  }
}

.LoginRegisterPopup{
  .LoginRegister{
    display: none;
  }
  .LoginRegister.active{
    display: block;
  }
}

.shopify-challenge__container{
  padding-top: 50px;
  padding-bottom: 50px;
  .btn{
    padding: 5px 15px;
  }
}