.DreamPage__banner{
  position: relative;
  img{
    vertical-align: middle;
    width: 100%;
  }
}
.DreamPage__heading{
  position: absolute;
  top: 50%;
  left: 50%;
  @include prefix(transform, translate(-50%,-50%));
  color: white;
  @include miller(2.4rem);
  width: 100%;
  text-align: center;
  @include minQuery($s){
    font-size: 4.8rem;
  }
}
.DreamPage__nav{
  @include flex-center();
  height: 70px;
  background-color: $gray-lighter;
  @include maxQuery($s){
    height: auto;
    padding: 20px 0px;
    flex-wrap: wrap;
  }
}
.DreamPage__nav-link{
  margin-left: 20px;
  margin-right: 20px;
  button{
    border: none;
    color: $primary-accent2;
    position: relative;
    &:after{
      transition: width .5s;
      position: absolute;
      left: 0;
      bottom: 0;
      content:'';
      display: inline-block;
      width: 0%;
      height: 1px;
      background-color: $primary-accent1;
    }
    &:hover{
      background: transparent;
      color: $primary-accent1;
      &:after{
        width: 80%;
      }
    }
  }
  @include maxQuery($s){
    text-align: center;
    width: 100%;
    margin-top: 5px;
    margin-bottom: 5px;
    button{
      margin-right: auto;
      margin-left: auto;
    }
  }
}

.Dream__content{
  width: 460px;
  max-width: 100%;
  margin-left: auto;
  margin-right: auto;
  @include maxQuery($s){
    text-align: center;
  }
}
.Dream__text-container{
  width: 340px;
  max-width: 100%;
}
.Dream__link{
  @include maxQuery($s){
    margin-top: 20px;
  }
}
@include maxQuery(980px){
  .Dream__content{
    width: auto;
  }
  .Dream__text-container{
    width: auto;
  }
}
.Dream__row--reversed{
  .Dream__content{
    margin-left: 0;
  }
  .Dream__text-container{
    margin-left: auto;
  }
}
.Dream__row--normal{
  .Dream__content{
    margin-right: 0;
  }
}
.Dream__heading{
  color: $primary-accent2;
  @include lineHeading-left(25%);
  @include miller(2.4rem);
  margin-bottom: 20px;
  &:after{
    margin-top: 10px;
  }
  @include minQuery($s){
    @include miller(3.6rem);
  }
  @include minQuery(600px){
    @include miller(3rem);
  }
}

.DreamPage{
  .Quote__quote{
    font-size: 3.6rem;
    &:after{
      margin-top: 20px;
      margin-bottom: 20px;
    }
  }
  .container.s{
    padding-left: 10px;
    padding-right: 10px;
  }
  @include maxQuery($s){
    .Quote__quote{
      font-size: 2.3rem;
    }
  }
}
@include maxQuery($s){
  .Dream__image--left{
    width: 80%;
    margin-left: auto;
    margin-right: auto;
  }
}
.Dream__container{
  .row--reversed,
  .row--normal{
    flex-wrap: wrap;
    flex-direction: column-reverse;
  }
  @include minQuery($s){
    .row--normal{
      flex-direction: row;
    }
    .row--reversed{
      flex-direction: row-reverse;
    }
  }
}
