.Page__banner{
  position: relative;
  img{
    vertical-align: middle;
    width: 100%;
  }
}
.Page__heading{
  position: absolute;
  top: 50%;
  left: 50%;
  @include prefix(transform, translate(-50%,-50%));
  color: white;
  @include miller(2.4rem);
  width: 100%;
  text-align: center;
  @include minQuery($s){
    font-size: 4.8rem;
  }
}