.Privacy{
  text-align: center;
 .rte{
   h1,h2,h3,h4{
     font-family: 'NewsGothicMT';
     font-weight: bold;
     margin-top: 40px;
   }
   hr{
     margin-top: 30px;
     margin-bottom: 30px;
   }
   p{
     margin-bottom: 15px;
   }
 } 
}