
.Sizing__content{
  a{
    color: $primary-accent1;
  }
}
.Sizing__table{
  margin-bottom: 30px;
  h2{
    @include miller(3.6rem);
    margin-bottom: 20px;
  }
}
.Sizing__table table{
  table-layout: fixed;
  width: 100%;
  td{
    font-weight: bold;
    width: 20%;
    text-transform: uppercase;
    text-align: center;
    vertical-align: middle;
    padding-top: 5px;
    padding-bottom: 5px;
  }
  tr:first-child td{
    font-weight: normal;
  }
  tr:nth-child(odd){
    background: $gray-lighter;
  }
}
.Sizing__table--1 table,
.Sizing__table--2 table{
  width: 480px;
  max-width: 100%;
}
.Sizing__table--3 table{
  width: 780px;
  max-width: 100%;
  tr:first-child .lighter{
    font-weight: bold;
  }
  .lighter{
    background-color: $gray-lighter;
  }
  .light{
    background-color: $gray-light;
  }
  .gray{
    background-color: $gray;
  }
  @include maxQuery($s){
    td[rowspan]{
      display: none;
    }
  }
}