.CartPage{
  .container.m{
    width: 900px;
  }
}
.CartPage__form{
  width: 100%;
}

.CartPage__heading-row{
  border-bottom: 1px solid $gray-lighter;
}

.CartPage__product{
  @include flex();
  flex-flow: row wrap;
  @include align-items(center);
}
.CartPage__column1{
  @include flex();
  @include align-items(center);
}
.CartPage__remove{
  display: inline-block;
  margin-right: 15px;
  svg path{
    stroke: black;
  }
}
.CartPage__image{
  margin-right: 25px;
  min-width: 160px;
  text-align: center;
  img{
    margin-left: auto;
    margin-right: auto;
    max-height: 95px;
  }
}
.CartPage__price{
  @include newsI(1.8rem);
}
.CartPage__quantity{
  .Quantity__control{
    flex: 1;
  }
  .Quantity__state{
    padding: 0;
    flex: 2;
  }
}

.CartPage__summary-row{
  border-top: 1px solid $gray-lighter;
  padding-top: 30px;
}
.CartPage__note-label{
  @include newsI(1.8rem);
  font-weight: normal;
}
.CartPage__note{
  border: 1px solid $gray-lighter;
  height: 100px;
  @include newsI(1.6rem);
  width: 100%;
}
.CartPage__subtotal{
  margin-top: 31px;
  @include newsI(2.8rem);
  width: 280px;
  max-width: 100%;
  @include flex();
  @include justify-content(space-between);
  margin-left: auto;
}
.CartPage__subtotal-label{

}
.CartPage__subtotal-price{

}
.CartPage__checkout{
  background-color: $primary-accent1;
  color: white;
  border-color: $primary-accent1;
  width: 280px;
  margin-left: auto;
}

@include maxQuery($s){
  .CartPage__product{
    @include justify-content(center);
  }
  .CartPage__column1{
    position: relative;
    @include align-items(flex-start);
    max-width: 100%;
    width: 500px !important;
    margin-left: auto;
    margin-right: auto;
  }
  .CartPage__image{
    order: 1;
    display: inline-block;
    min-width: initial;
    width: 130px;
    @include maxQuery($s){
      flex: 1;
    }
  }
  .CartPage__title-container{
    order: 2;
    padding-right: 10px;
    @include maxQuery($s){
      flex: 2;
    }
  }
  .CartPage__remove{
    order: 3;
    justify-self: flex-end;
    margin-right: 0;
    position: absolute;
    top: 0;
    right: 20px;
  }
  .CartPage__subtotal{
    width: auto;
  }
  .CartPage__checkout{
    width: 320px;
  }
}