.NestedCollection__container{
  margin-bottom: 100px;
  @include maxQuery($s){
    margin-bottom: 30px;
  }
}
.NestedCollection__container.inactive{
  margin-bottom: 0 !important;
}
.NestedCollection__banner{
  position: relative;
  img{vertical-align: middle;}
}
.NestedCollection__heading{
  position: absolute;
  top: 50%;
  left: 50%;
  @include prefix(transform, translate(-50%,-50%));
  color: white;
  @include miller(2.4rem);
  @include minQuery($s){
    font-size: 4.8rem;
  }
}

.NestedCollection__collection__heading-container{
  position: relative;
  text-align: center;
}
.NestedCollection__collection__image{
  @include prefix(filter, grayscale(1));
  opacity: .1;
  width: 200px;
  max-width: 100%;
}
.NestedCollection__collection__title{
  color: $primary-accent2;
  display: inline-block;
  position: absolute;
  left: 0;
  bottom: 0;
  text-transform: uppercase;
  @include newsR(2.4rem);
  &:after{
    bottom: -10px;
  }
}
.NestedCollection__collection__body{
  margin-top: 30px;
  text-align: left;
  font-style: italic;
}

.NestedCollection__grid{
  display: grid;
  grid-row-gap: 20px;
  grid-column-gap: 10px;
  grid-template-columns: 1fr 1fr 1fr;
  @include maxQuery($s){
    grid-template-columns: 1fr 1fr;
  }
}
.NestedCollection__grid-cell{
  text-align: center;
}
.NestedCollection__grid-cell-info{
  @include maxQuery($s){
    grid-column: 1 / 3;
    grid-row: 1 / 1;
  }
}
.NestedCollection__grid-cell-image{
  grid-row: 2 / 4;
  img{
    width: 100%;
    margin-top: 50px;
  }
  @include maxQuery($s){
    grid-column: 1 / 3;
    grid-row: 4/ 4;
    img{
      margin-top: 15px;
    }
  }
}

.no-cssgrid{//For IE11 cause its lame
  .NestedCollection__grid{
    display: flex;
    flex-wrap: wrap;
  }
  .NestedCollection__grid-cell-image{
    display: none;
  }
  .NestedCollection__grid-cell,
  .NestedCollection__grid-cell-info{
    width: 33.333%;
  }
  @include maxQuery($s){
    .NestedCollection__grid-cell-info{
      width: 100%;
    }
    .NestedCollection__grid-cell{
      width: 50%;
    }
  }
}