<!-- /snippets/{{ section.id }}.liquid -->

{% assign enable_search = section.settings.enable_search %}

<header class="Header js-header" role="banner">
  <div class="Header__content">
    <div class="container xl">
      <div class="row flex v-center">
        <div class="column l3 left">
          <div class="Header__logo">
            {% include 'theme-logo' %}
          </div>
        </div>
        <div class="column l5">
          {% assign nav = linklists[section.settings.navigation] %}
          {% include 'navigation' %}
        </div>
        <div class="column l4 right">
          <div class="Header__user">
            {% if customer %}
              <a href="/account">{{ 'account.general.title' | t }}</a>
            {% else %}
              <a href="/account">{{ 'account.login.title' | t }}</a>
            {% endif %}
          </div>
        </div>
      </div>
    </div>
  </div>
</header>

{% include 'theme-nav-toggled' %}

{% schema %}
  {
    "name": "Header",
    "settings": [
      {
        "type": "header",
        "content": "Header"
      },
      {
        "type":"link_list",
        "id":"navigation",
        "label":"Navigation"
      }
    ]
  }
{% endschema %}
