<!-- /snippets/{{ section.id }}.liquid -->

{% assign enable_search = section.settings.enable_search %}

{% assign lightHeaderTemplates = 'index,collection.nested,page.preservedream,page.guidebar,page.sizing,page.privacy,blog.the-casual-types,page.careers,page.contact,page.store-locator' %}
{% assign headerColorModifier = 'is-dark' %}
{% if lightHeaderTemplates contains template %}
  {% assign headerColorModifier = 'is-light' %}
{% endif %}

<header class="Header js-header Header--{{headerColorModifier}}" role="banner">
  <div class="Header__content">
    <div class="container xl">
      <div class="row flex v-center">
        <div class="Header__column--logo column l3 s6 left">
          <div class="Header__logo">
            {% include 'theme-logo' %}
          </div>
        </div>
        <div class="Header__column--nav column l5 s3">
          <div class="Nav__hamburger js-hamburger">
            <span class="NavHam__line NavHam__line--1"></span>
            <span class="NavHam__line NavHam__line--2"></span>
            <span class="NavHam__line NavHam__line--3"></span>
          </div>
          {% assign nav = linklists[section.settings.navigation] %}
          {% include 'navigation' %}
        </div>
        <div class="Header__column--user column l4 s3 right">
          <div class="Header__column--user-link Header__search">
            <div class="Header__search__form js-headerSearchForm">
              {% include 'form-search' %}
            </div>
            <button class="Header__search__trigger js-headerSearchTrigger">{% include 'custom-icon' with icon: 'search' %}</button>
          </div>
          <div class="Header__column--user-link Header__user">
            {% if customer %}
            <a href="/account">
              {% include 'custom-icon' with icon: 'user' %}
            </a>
            {% else %}
            <button type="button" class="js-loginRegisterTrigger Header__user__popup-trigger">
              {% include 'custom-icon' with icon: 'user' %}
            </button>
            {% endif %}
          </div>
          <div class="Header__column--user-link Header__cart">
            <button type="button" class="js-cartTrigger Header__user__popup-trigger">
            {% include 'custom-icon' with icon: 'cart' %}
            </button>
          </div>
          <div class="Header__column--user-link Header__column--country">
          {% include 'header-country-picker' %}
          </div>
        </div>
      </div>
    </div>
  </div>
</header>

{% include 'theme-nav-toggled' %}

{% schema %}
  {
    "name": "Header",
    "settings": [
      {
        "type": "header",
        "content": "Header"
      },
      {
        "type":"link_list",
        "id":"navigation",
        "label":"Navigation"
      }
    ]
  }
{% endschema %}
