<!-- /snippets/{{ section.id }}.liquid -->

{% assign enable_search = section.settings.enable_search %}

{% assign darkHeaderTemplates = 'product,cart,' %}
{% assign headerColorModifier = 'is-light' %}
{% if darkHeaderTemplates contains template %}
  {% assign headerColorModifier = 'is-dark' %}
{% endif %}

<header class="Header js-header Header--{{headerColorModifier}}" role="banner">
  <div class="Header__content">
    <div class="container xl">
      <div class="row flex v-center">
        <div class="Header__column--logo column l3 s6 left">
          <div class="Header__logo">
            {% include 'theme-logo' %}
          </div>
        </div>
        <div class="Header__column--nav column l5 s3">
          <div class="Nav__hamburger js-hamburger">
            <span class="NavHam__line NavHam__line--1"></span>
            <span class="NavHam__line NavHam__line--2"></span>
            <span class="NavHam__line NavHam__line--3"></span>
          </div>
          {% assign nav = linklists[section.settings.navigation] %}
          {% include 'navigation' %}
        </div>
        <div class="Header__column--user column l4 s3 right">
          <div class="Header__user">
            {% if customer %}
              <a href="/account">{{ 'account.general.title' | t }}</a>
            {% else %}
              <a href="/account">{{ 'account.login.title' | t }}</a>
            {% endif %}
          </div>
        </div>
      </div>
    </div>
  </div>
</header>

{% include 'theme-nav-toggled' %}

{% schema %}
  {
    "name": "Header",
    "settings": [
      {
        "type": "header",
        "content": "Header"
      },
      {
        "type":"link_list",
        "id":"navigation",
        "label":"Navigation"
      }
    ]
  }
{% endschema %}
