$white: white;
$black: black;
$gray: #C7C7C7;
$gray-light: #E7E7E7;
$gray-lighter: #F7F7F7;
$gray-dark: #808080;

$primary-accent1: #DC4B28;
$primary-accent2: #193859;
$secondary-accent: #AAC9E7;
$secondary-accent2: #1D778D;
$secondary-accent3: #FFEDB7;
$error: #AC3A38;